<!-- sidebar.html -->
<!-- contains header and nav -->

<!-- HEADER -->
<div class="sidebar">
  <div class="name">
    <div class="line">SOPHIE</div>
    <div class="line">LARAINE</div>
    <div class="line">BAKER</div>
  </div>

  <div class="image tint-wrapper-inverted">

    <a href="/" class="tint-inverted">
      <img class="" id="header-image" src="/images/Image.png">
    </a>
  </div>

  <!-- MAIN NAVIGATION -->
  <div class="nav">
    <ul id="main-nav">
      <li>
        <a data-toggle="collapse" data-parent="#main-nav" href="#firstLink" class="gallery-pill">GALLERY</a>
        <div id="firstLink"class="collapse">
          <div class="dropdown-wrapper">
            <ul class="">
              <li class="text-right"><a href="/painting">PAINTING</a></li>
              <li class="text-right"><a href="/photo">PHOTO</a></li>
            </ul>
          </div>

        </div>

      </li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/resume">RESUME</a></li>
      <li><a href="/contact">CONTACT</a></li>
    </ul>
  </div>

</div>
