<!-- sidebar.html -->
<!-- contains header and nav -->

<!-- HEADER -->
<div class="header">
  <div class="name">
    <div class="line">SOPHIE</div>
    <div class="line">LARAINE</div>
    <div class="line">BAKER</div>
  </div>
  <div class="image">
    <a href="/">
      <img id="header-image" src="/images/Image.png">
    </a>
  </div>

  <!-- MAIN NAVIGATION -->
  <div class="nav">
    <ul id="main-nav">
      <li><a href="/gallery">GALLERY</a></li>
      <li><a href="/bio">ABOUT</a></li>
      <li><a href="/resume">RESUME</a></li>
      <li><a href="/contact">CONTACT</a></li>
    </ul>
  </div>

</div>
